{% extends 'index.html' %}
{% load static %}

{% block page-container %}
<!-- BEGIN: PAGE CONTAINER -->
<div class="c-layout-page">
    <!-- BEGIN: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="c-layout-breadcrumbs-1 c-subtitle c-fonts-uppercase c-fonts-bold c-bordered c-bordered-both">
        <div class="container">
            <div class="c-page-title c-pull-left">
                <h3 class="c-font-uppercase c-font-sbold">Product List</h3>
                <h4 class="">Products</h4>
            </div>
            <ul class="c-page-breadcrumbs c-theme-nav c-pull-right c-fonts-regular">
                <li><a href="shop-product-list.html">Product List</a></li>
                <li>/</li>
                <li class="c-state_active">Father's Day Gifts</li>

            </ul>
        </div>
    </div>
    <!-- END: LAYOUT/BREADCRUMBS/BREADCRUMBS-2 -->
    <div class="container">
        <div class="c-layout-sidebar-menu c-theme ">
            <!-- BEGIN: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
            <div class="c-sidebar-menu-toggler">
                <h3 class="c-title c-font-uppercase c-font-bold">Navigation</h3>
                <a href="javascript:;" class="c-content-toggler" data-toggle="collapse" data-target="#sidebar-menu-1">
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                    <span class="c-line"></span>
                </a>
            </div>

            <ul class="c-sidebar-menu collapse " id="sidebar-menu-1">
                <li class="c-dropdown c-active c-open">
                    <a href="javascript:;" class="c-toggler">Active Section<span class="c-arrow"></span></a>
                    <ul class="c-dropdown-menu">
                        <li class="c-active">
                            <a href="#">Active Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                    </ul>
                </li>
                <li class="c-dropdown">
                    <a href="javascript:;" class="c-toggler">Sub Menu Section<span class="c-arrow"></span></a>
                    <ul class="c-dropdown-menu">
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li class="c-dropdown c-dropdown-sub">
                            <a href="javascript:;" class="c-toggler c-toggler-sub">Sub Menu<span class="c-arrow"></span></a>
                            <ul class="c-dropdown-menu">
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li class="c-dropdown">
                            <a href="javascript:;" class="c-toggler">Sub Menu<span class="c-arrow"></span></a>
                            <ul class="c-dropdown-menu">
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li class="c-dropdown">
                                    <a href="javascript:;" class="c-toggler">Sub Menu<span class="c-arrow"></span></a>
                                    <ul class="c-dropdown-menu">
                                        <li>
                                            <a href="#">Example Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Example Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Example Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Example Link</a>
                                        </li>
                                        <li>
                                            <a href="#">Example Link</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                    </ul>
                </li>
                <li class="c-dropdown">
                    <a href="javascript:;" class="c-toggler">Section With Icons<span class="c-arrow"></span></a>
                    <ul class="c-dropdown-menu">
                        <li>
                            <a href="#"><i class="icon-social-dribbble"></i> Example Link</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-bell"></i> Example Link</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-bubbles"></i> Example Link</a>
                        </li>
                        <li>
                            <a href="#"><i class="icon-user"></i> Example Link</a>
                        </li>
                    </ul>
                </li>
                <li class="c-dropdown">
                    <a href="javascript:;" class="c-toggler">Expanded Section<span class="c-arrow"></span></a>
                    <ul class="c-dropdown-menu">
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                    </ul>
                </li>
                <li class="c-dropdown">
                    <a href="javascript:;">Arrow Toggler <span class="c-arrow c-toggler"></span></a>
                    <ul class="c-dropdown-menu">
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li>
                            <a href="#">Example Link</a>
                        </li>
                        <li class="c-dropdown">
                            <a href="javascript:;">Sub Menu
				<span class="c-arrow c-toggler"></span></a>
                            <ul class="c-dropdown-menu">
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                                <li>
                                    <a href="#">Example Link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>

            <div class="c-padding-20 c-margin-t-40 c-bg-grey-1 c-bg-img-bottom-right" style="background-image:url({% static 'assets/base/img/content/misc/feedback_box_2.png' %})">
                <div class="c-content-title-1 c-margin-t-20">
                    <h3 class="c-font-uppercase c-font-bold">Have a question?</h3>
                    <div class="c-line-left"></div>
                    <form action="#">
                        <div class="input-group input-group-lg c-square">
                            <input type="text" class="form-control c-square" placeholder="Ask a question" />
                            <span class="input-group-btn">
				<button class="btn c-theme-btn c-btn-square c-btn-uppercase c-font-bold" type="button">Go!</button>
				</span>
                        </div>
                    </form>
                    <p class="c-font-thin">Ask your questions away and let our dedicated customer service help you look through our FAQs to get your questions answered!</p>
                </div>
            </div>
            <!-- END: LAYOUT/SIDEBARS/SHOP-SIDEBAR-MENU -->
        </div>
        <div class="c-layout-sidebar-content ">
            <!-- BEGIN: PAGE CONTENT -->
            <!-- BEGIN: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->
            <div class="c-shop-result-filter-1 clearfix form-inline">
                <div class="c-filter">
                    <label class="control-label c-font-16">Show:</label>
                    <select class="form-control c-square c-theme c-input">
                        <option value="#?limit=24" selected="selected">24</option>
                        <option value="#?limit=25">25</option>
                        <option value="#?limit=50">50</option>
                        <option value="#?limit=75">75</option>
                        <option value="#?limit=100" selected>100</option>
                    </select>
                </div>
                <div class="c-filter">
                    <label class="control-label c-font-16">Sort&nbsp;By:</label>
                    <select class="form-control c-square c-theme c-input">
                        <option value="#?sort=p.sort_order&amp;order=ASC" selected="selected">Default</option>
                        <option value="#?sort=pd.name&amp;order=ASC">Name (A - Z)</option>
                        <option value="#?sort=pd.name&amp;order=DESC">Name (Z - A)</option>
                        <option value="#?sort=p.price&amp;order=ASC">Price (Low &gt; High)</option>
                        <option value="#?sort=p.price&amp;order=DESC" selected>Price (High &gt; Low)</option>
                        <option value="#?sort=rating&amp;order=DESC">Rating (Highest)</option>
                        <option value="#?sort=rating&amp;order=ASC">Rating (Lowest)</option>
                        <option value="#?sort=p.model&amp;order=ASC">Model (A - Z)</option>
                        <option value="#?sort=p.model&amp;order=DESC">Model (Z - A)</option>
                    </select>
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-RESULT-FILTER-1 -->

            <div class="c-margin-t-20"></div>

            <!-- BEGIN: CONTENT/SHOPS/SHOP-2-8 -->
            {% for product in products %}
               <div class="row c-margin-b-40">
                    <div class="c-content-product-2 c-bg-white">
                        <div class="col-md-4">
                            <div class="c-content-overlay">
                                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                                <div class="c-overlay-wrapper">
                                    <div class="c-overlay-content">
                                        <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                    </div>
                                </div>
                                <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url( {{ product.image_url }});"></div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="c-info-list">
                                <h3 class="c-title c-font-bold c-font-22 c-font-dark">
                                        <a class="c-theme-link" href="shop-product-details.html">{{ product.title }}</a>
                                    </h3>
                                <p class="c-desc c-font-16 c-font-thin">{{ product.description }}</p>
                                <p class="c-price c-font-26 c-font-thin">$ {{ product.price }} &nbsp;
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <div class="row c-margin-b-40">
                <div class="c-content-product-2 c-bg-white">
                    <div class="col-md-4">
                        <div class="c-content-overlay">
                            <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                </div>
                            </div>
                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url({% static 'assets/base/img/content/shop3/10.jpg' %});"></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="c-info-list">
                            <h3 class="c-title c-font-bold c-font-22 c-font-dark">
					<a class="c-theme-link" href="shop-product-details-2.html">Winter Coat</a>
				</h3>
                            <p class="c-desc c-font-16 c-font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                            <p class="c-price c-font-26 c-font-thin">$548 &nbsp;
                                <span class="c-font-26 c-font-line-through c-font-red">$600</span>
                            </p>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                <i class="fa fa-shopping-cart"></i>Add Cart
                            </button>
                            <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                <i class="fa fa-heart-o"></i>Add Wishlist
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row c-margin-b-40">
                <div class="c-content-product-2 c-bg-white">
                    <div class="col-md-4">
                        <div class="c-content-overlay">
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="shop-product-details.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                </div>
                            </div>
                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url({% static 'assets/base/img/content/shop3/22.jpg' %});"></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="c-info-list">
                            <h3 class="c-title c-font-bold c-font-22 c-font-dark">
					<a class="c-theme-link" href="shop-product-details.html">Winter Coat</a>
				</h3>
                            <p class="c-desc c-font-16 c-font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                            <p class="c-price c-font-26 c-font-thin">$548 &nbsp;
                                <span class="c-font-26 c-font-line-through c-font-red">$600</span>
                            </p>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                <i class="fa fa-shopping-cart"></i>Add Cart
                            </button>
                            <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                <i class="fa fa-heart-o"></i>Add Wishlist
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row c-margin-b-40">
                <div class="c-content-product-2 c-bg-white">
                    <div class="col-md-4">
                        <div class="c-content-overlay">
                            <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                </div>
                            </div>
                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url({% static 'assets/base/img/content/shop3/21.jpg' %});"></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="c-info-list">
                            <h3 class="c-title c-font-bold c-font-22 c-font-dark">
					<a class="c-theme-link" href="shop-product-details-2.html">Winter Coat</a>
				</h3>
                            <p class="c-desc c-font-16 c-font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                            <p class="c-price c-font-26 c-font-thin">$548 &nbsp;
                                <span class="c-font-26 c-font-line-through c-font-red">$600</span>
                            </p>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                <i class="fa fa-shopping-cart"></i>Add Cart
                            </button>
                            <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                <i class="fa fa-heart-o"></i>Add Wishlist
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row c-margin-b-40">
                <div class="c-content-product-2 c-bg-white">
                    <div class="col-md-4">
                        <div class="c-content-overlay">
                            <div class="c-label c-bg-red c-font-uppercase c-font-white c-font-13 c-font-bold">Sale</div>
                            <div class="c-label c-label-right c-theme-bg c-font-uppercase c-font-white c-font-13 c-font-bold">New</div>
                            <div class="c-overlay-wrapper">
                                <div class="c-overlay-content">
                                    <a href="shop-product-details-2.html" class="btn btn-md c-btn-grey-1 c-btn-uppercase c-btn-bold c-btn-border-1x c-btn-square">Explore</a>
                                </div>
                            </div>
                            <div class="c-bg-img-center c-overlay-object" data-height="height" style="height: 230px; background-image: url({% static 'assets/base/img/content/shop3/23.jpg' %});"></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="c-info-list">
                            <h3 class="c-title c-font-bold c-font-22 c-font-dark">
					<a class="c-theme-link" href="shop-product-details-2.html">Winter Coat</a>
				</h3>
                            <p class="c-desc c-font-16 c-font-thin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.</p>
                            <p class="c-price c-font-26 c-font-thin">$548 &nbsp;
                                <span class="c-font-26 c-font-line-through c-font-red">$600</span>
                            </p>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-sm c-theme-btn c-btn-square c-btn-uppercase c-btn-bold">
                                <i class="fa fa-shopping-cart"></i>Add Cart
                            </button>
                            <button type="submit" class="btn btn-sm btn-default c-btn-square c-btn-uppercase c-btn-bold">
                                <i class="fa fa-heart-o"></i>Add Wishlist
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END: CONTENT/SHOPS/SHOP-2-8 -->

            <div class="c-margin-t-20"></div>

            <ul class="c-content-pagination c-square c-theme pull-right">
                <li class="c-prev"><a href="#"><i class="fa fa-angle-left"></i></a></li>
                <li><a href="#">1</a></li>
                <li class="c-active"><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li class="c-next"><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
            <!-- END: PAGE CONTENT -->
        </div>
    </div>
</div>
<!-- END: PAGE CONTAINER -->
{% endblock page-container %}